h1 {
  color: whitesmoke;
  text-align: center;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: whitesmoke;
  text-align: center;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
